main p {
  margin-bottom: 15px;
  text-align: justify;
}

section h1 {
  text-align: start;
}

figure img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.horaires,
.adresse {
  text-align: center;
}

@media (min-width: 640px) {
  section h1 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  main {
    margin-left: 25px;
    margin-right: 25px;
  }
  figure img {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  main {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  figure img {
    height: 400px;
  }
}

@media (min-width: 1280px) {
  main {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
