header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: rgb(88, 182, 108);
}

header img {
  height: 200px;
}

header h1 {
  margin: 0;
  color: white;
  /* color: rgb(88, 182, 108); */
}
